* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(218, 192, 243);
  margin-top: 10px;
}

h1 {
  text-align: center;
}

.enlaces {
  background-color: rgb(176, 209, 56);
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  color: blue;
}

footer {
  background-color: rgb(143, 182, 143);
}

.redes {
  text-align: center;
}
.derechos {
  text-align: right;
}

body {
  /*background-image: url(https://previews.123rf.com/images/vitalily73/vitalily731706/vitalily73170600006/80059796-vegetales-frescos-fondo-colorido-de-los-veh%C3%ADculos-vegetales-saludables-surtido-de-verduras.jpg);*/
  background-color: beige;
  opacity: 75%;
}

.imagen {
  border-radius: 20px;
  border-color: black;
  border-style: solid;
}

.nav {
  color: black;
  border-style: solid;
  border-radius: 5px;
  background-color: rgb(112, 165, 179);
}
img {
  margin-left: 800px;
}
